[MESSAGES_CONTROL]
# C0114: Missing module docstring
# C0115: Missing class docstring
# C0116: Missing function or method docstring
# R0917: Too many positional arguments
disable=C0114,C0115,C0116,R0917

[FORMAT]
# Set maximum allowed line length to 120 characters
max-line-length=120

[DESIGN]
max-args=6
