#reveal-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#revealed-character {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.character-revealed #reveal-button {
    display: none;
}

#reset-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#session-history-list li .thumbs-down-button {
    display: none;
}

.character-revealed #session-history-list li:hover .thumbs-down-button {
    display: block;
}
