body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #232323;
    color: #e0e0e0;
}

#main-title {
    color: #00690577;
    margin-bottom: 30px;
    text-align: center;
    transition: margin-bottom 0.3s ease; /* Add transition for smooth movement */
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #00690577;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, margin-bottom 0.3s ease; /* Add transition */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add some default margin */
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#answer-container {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px 25px;
    font-size: 22px;
    font-weight: bold;
    color: #00690577;
    background-color: #e9ecef;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: margin-top 0.3s ease, margin-bottom 0.3s ease; /* Add transition */
}

#answer-container.error {
    color: #dc3545; /* Error color */
    background-color: #f8d7da;
}

.character-revealed #ask-button,
.character-revealed #answer-container,
.character-revealed #main-title {
    display: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    body {
        padding-bottom: 320px; /* Adjust based on your sidebar's max-height + some extra space */
        justify-content: flex-start; /* Align items to the top */
    }

    #main-title {
        margin-bottom: 10px; /* Reduce margin for mobile */
    }

    button {
        margin-bottom: 10px; /* Reduce margin for mobile */
    }

    #answer-container {
        margin-top: 15px; /* Reduce margin for mobile */
        margin-bottom: 10px; /* Reduce margin for mobile */
    }
}
