<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
    <link rel="stylesheet" href="static/css/analytics.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/dark_mode_button.css">
</head>
<body>
    <button id="dark-mode-toggle">Toggle Dark Mode</button>
    <h1>Pipeline Analytics</h1>
    <table>
        <thead>
            <tr>
                <th>Pipeline Name</th>
                <th>Number of Thumbs Down</th>
                <th>Number of Answers</th>
                <th>% of Thumbs Down</th>
            </tr>
        </thead>
        <tbody id="analytics-table-body">
            <!-- Data will be populated here -->
        </tbody>
    </table>
    <script src="static/js/analytics.js"></script>
    <script src="static/js/dark_mode.js"></script>
</body>
</html>
