<!DOCTYPE html>
<html lang="en">
<head>
    <script>
    (function () {
        const hour = new Date().getHours();
        if (hour >= 19 || hour < 6) {
        document.documentElement.classList.add('dark-mode');
        }
    })();
    </script>
    <meta charset="UTF-8">
    <title>Rectify Answers</title>
    <link rel="stylesheet" href="static/css/rectify.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/dark_mode_button.css">
</head>
<body>
    <button id="dark-mode-toggle">Toggle Dark Mode</button>
    <h1>Rectify Answers</h1>
    <table>
        <thead>
            <tr>
                <th>Character</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Rectified Answer</th>
                <th>Submit</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
    <script src="static/js/rectify.js"></script>
    <script type="module" src="static/js/dark_mode.js"></script>
</body>
</html>
